.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -16px) scale(0.75) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, -18px) scale(0.875);
}

.login-input {
    width: 90% !important;
}

.login-input label {
    font-size: 10px;
}
.login-input label.Mui-focused {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54) !important;
}

.login-input .MuiInput-underline:after {
    font-size: 10px;
    border-bottom: 1px solid #389242 !important;
}
.login-main {
    border: 1px solid #389242;
    border-radius: 3%;
    margin: auto 5% 15% 5%;
    padding: 5% 5% 10% 5%;
}
.forgot-password {
    color: #aaa;
    font-size: 12px;
    float: left;
    margin-left: 5%;
}

.login-green-checkbox .MuiFormControlLabel-label {
    color: #aaa;
    font-size: 14px !important;
    margin-bottom: 1%;
    padding: 0%;
}

button.login-btn {
    background-color: #389242;
    color: #fff;
}

.login-title {
    font-weight: 700;
}
